.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
.env
.DS_Store
db.sqlite3
.idea
.vscode
*.sqlite3
*.db
node_modules/
.npm
dist/
build/
*.egg-info/
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
.tox/
README.md
readme/

